*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: #d9d9d9;
    }
    body{
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.5;
    }
    header{
     position: sticky;
     background: #171570;
     justify-content: space-between;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1111;
    }
    
    .mainheader{
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
   .mainheader .logo img{ 
     padding-left: 20px;
     padding-top: 10px;
     align-items: center;
     cursor: pointer;
     width: 250px;
     height: 50px;
    }
    ul{
     display: flex;
     list-style: none;
    }
    
    nav li{
     padding: 5px 10px;
     border: none;
     display: inline-block;
     padding: 5px;
     transition: all linear 0.5s;
     margin-right: 20px;
     text-transform: uppercase;
    }
    
    nav li a{
        text-decoration:none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(255, 255, 255);
        font-weight: 500;
        padding: 5px;
    }
    nav li a:hover{
      color: #00f7ff;
    }
    main{
      background-image: url(image/home\ 3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .appbtn{
      width: 350px;
      margin-top: 500px;
      margin-left:100px;
      margin-right: 100px;
      cursor: pointer;
      color: #000;
      font-size: medium;
      border-radius: 10px;
      background: #176faa;       
      padding: 10px;
    }

    .right-sec{
     height: 500px;
     width: 500px;
     margin-right: -50px;
    }
    
    
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
    }
    #services{
      background: linear-gradient(rgba(0,0,0,0,5),rgba(0,0,0,0,5));
      background-color: #aae4e6;
      background-repeat: no-repeat;
      background-size: 100% 1200px;
  }
    #department{
        background: linear-gradient(rgba(0,0,0,0,5),rgba(0,0,0,0,5));
        background-color: #daedf0;
        background-repeat: no-repeat;
        background-size: 100% 1200px;
    }
    .container{
      width: 100%;
      height: 700px;
    }
    
    .container h1{
      text-align: center;
      font-size: 50px;
      font-weight: 600;
      color: #000;
      position: relative;
    }

    .container h1::after{
      content: '';
      background: #286581;
      width: 100px;
      height: 5px;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
    .row{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 30px;
      padding-left: 15px;
      padding-right: 15px;

    }
    .item{
      text-align: center;
      padding: 25px 10px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      background: transparent;
    }
    .item:hover{
      background-color: #c6d7e2;
      border-color: rgb(6, 18, 24);
      border-radius: 10px 50px;
      border-style:ridge;
    }
    .item h2{
      color: #1b2533;
      text-align: center;
      margin-top: 5px;
    }
    .item p{
      color: #1b2533;
      text-align: center;
      margin-top: 5px;
    }
    .item img {
      padding: 5px;
      width: 150px;
      height: 150px;
    }
     
.container1{
  padding-top: 60px;
  width: 100%;
  height: 700px;
}
.container1 h1{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #000;
  position: relative;
}

 .container1 .row{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 200px;
  gap:2rem;
}


.container1 .row .image img{
  height: 600px;
  width: 100%;
}

.book form{ 
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  height: 600px;
  width: 500px;
  box-shadow: 10px;
  text-align: center;
}

.book form h3{
  color: #000;
  padding-bottom:  10px;
  font-size: 45px;
}

.book form .box{
  width: 100%;
  height: 40px;
  margin: 25x 0;
  border: 2px;
  font-size: 10px;
  border-color: #000;
  color: #000;
  font-size: 15px;
  text-transform: none;
  padding-left: 10px;
  border-style: ridge;
  border-radius: 20px;  
  margin-top: 5px;
}

.book form .btn{
   padding:1px 4px; 
   size: 250px;
}

.book form .btn button{
  height: 40px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  font-size: 1.0625rem;
  margin-top: 15px;
  font-weight: 500;
  background-color: #000;
  cursor: pointer;
  border-style: ridge;
  border-radius: 20px;  
}

.book form .btn button:hover{
  color: #000;
  background: rgb(255, 255, 255);
}
  
.menubtn{
  margin-right: 60px;
}
.mainheader button{
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
  border-radius: 10px;
}
    

main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    
main .left-sec{
  padding-left: 100px;
}

.left-sec h2{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bolder;
  color: #161529;
  margin-right: 10px;
  text-align: right;
  margin-top: 100px;
}

.left-sec h1{
  font-size: 55px;
  text-transform: capitalize;
  color: rgb(15, 15, 39);
  font-weight: 700;
  margin: 15px 0;
}

.left-sec p{
  margin-bottom: 20px;
  color: rgb(15, 15, 39);
  text-align: right;
  margin-right: 10px;
}

.left-sec button{
  padding: 15px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
  border-radius: 10px;
}

main .right-sec{
  padding-right: 70px;
  padding-left: 50px;
}

.myframe{
  border: 4px solid #000;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.footer{
  position: fixed;
  width: 100%;
}
.main-content{
  display: flex;
  padding: 25px;
  padding-bottom: 60px;
  background-color: #171570;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #ffffff;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #ff0000;
  top: -10px;
}
.left .content p{
  text-align: justify;
  color: rgb(255, 255, 255);
}

.center .content .fas{
  font-size: 1.4375rem;
  background: #ffffff;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: rgb(255, 255, 255);

}
.right .content .text{
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}